body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

.description {
  text-align: center;
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
  border-left: 2px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f5fafc;
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 3px solid rgb(8, 8, 8);
}

.hour {
  background-color: #294d6b;
  color: #fcfbfb;
  border-top: 2px solid #000000;
}

.past {
  background-color: #e6dddd;
  color: white;
}

.present {
  background-color: #f7726c;
  color: white;
}

.future {
  background-color: #88a787;
  color: white
}

.saveBtn {
  border-left: 2px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0283a0;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
